/* ============================== Global Rules ============================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --moveFromLeft: "-4px";
}
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: #121213;
  display: grid;
  place-items: center;
  user-select: none;
}
ul {
  list-style: none;
}
/* ============================== Custom Styling ============================== */
.player {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.player__overlay {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(0px);
  z-index: -1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato, Arial;
}
.overlay__inner {
  border: 2px solid #fff;
  height: 80%;
  width: 60%;
  background-color: #e74c3c;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: 0.5s 0.3s;
  -webkit-transition: 0.5s 0.3s;
  -moz-transition: 0.5s 0.3s;
  -ms-transition: 0.5s 0.3s;
  -o-transition: 0.5s 0.3s;
  position: relative;
  top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay__drop-down {
  background-color: #c0392b;
  width: 240px;
  height: 70px;
  color: #fff;
  cursor: pointer;
  position: relative;
}
.drop-down__toggle {
  padding: 10px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #fff;
}
.drop-down__options {
  height: 0;
  overflow-y: auto;
  transition: height 0.35s ease-in-out;
  -webkit-transition: height 0.35s ease-in-out;
  -moz-transition: height 0.35s ease-in-out;
  -ms-transition: height 0.35s ease-in-out;
  -o-transition: height 0.35s ease-in-out;
  /* border: 2px solid #fff; */
}
.drop-down__options.active {
  height: 200px;
}
.drop-down__options::-webkit-scrollbar {
  display: none;
}
.drop-down__options li {
  padding: 12px 5px;
  background-color: #c0392b;
  border-top: 1px solid #962d22;
  text-align: center;
}
.drop-down__options li:hover {
  color: #c0392b;
  background: #fff;
}
.player__overlay button {
  padding: 10px 30px;
  color: brown;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #ccc;
  display: none;
}
.player__side-menu,
.player__main-menu {
  height: 90%;
  box-shadow: 5px 0 2px #090f1f;
  color: #fff;
}
/* ============================== Style Side_Menu ============================== */
.player__side-menu {
  width: 25%;
  background-color: #111727;
}
.player__side-menu h1 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 0.7em 0 0 0.8em;
}
/* ============================== Style Player-list ============================== */
.player__play-list {
  margin: 3em 0 0 0.8em;
}
.player__play-list_item {
  display: flex;
  align-items: center;
  font-size: 14px;
  text-transform: capitalize;
  color: #4c5262;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.player__play-list_item:hover {
  color: #fff;
}
.player__play-list_item span {
  width: 8px;
  height: 8px;
  border: 2px solid #4c5262;
  margin-right: 2em;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.player__play-list_item:hover span {
  border: 2px solid #fff;
}
.player__play-list_item.active {
  color: #36e2ec;
}
.player__play-list_item.active span {
  display: none;
}
.music-icon {
  display: none;
}
.player__play-list_item.active .music-icon {
  display: block;
  margin-right: 1.6em;
}
/* ============================== Style Songs-Box ============================== */
.player__songs-box {
  margin-top: 3em;
  height: 360px;
  overflow: auto;
}
.player__songs-box::-webkit-scrollbar {
  display: none;
}
.player__songs-list {
  list-style: none;
}
.player__songs-list .img-play {
  margin-left: 0;
  flex-grow: 0;
}
.player__songs-list .img-play {
  position: static;
}
.player__songs-list .img-play i {
  position: absolute;
  right: 5px;
  opacity: 1;
}
.player__songs-item {
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 10px;
  cursor: pointer;
  position: relative;
}
.player__songs-item:hover {
  background-color: #6969691a;
}
.player__songs-item span {
  font-size: 0.75rem;
  font-weight: 600;
  color: #4c5262;
  width: 35px;
}
.player__songs-item img {
  width: 35px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.player__songs-item > div {
  flex-grow: 1;
  margin-left: 15px;
}
.player__songs-item .song-name {
  font-size: 0.75rem;
  letter-spacing: 2px;
}
.player__songs-item .subtitle {
  font-size: 0.6rem;
  color: #d3d9e9;
}
.player__songs-item .play-icon {
  font-size: 1rem;
  margin-right: 10px;
}
/* ============================== Style Main_Menu ============================== */
.player__main-menu {
  width: 75%;
  background-color: #0b1320;
  position: relative;
  z-index: 2;
  background-image: url("/imgs/bg.jpg");
  background-position: center;
  background-size: cover;
}
.player__main-menu::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
.player__main-nav {
  width: 95%;
  margin: auto;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.player__main-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
}
.player__main-list li {
  color: #fff;
  text-transform: uppercase;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
  position: relative;
  letter-spacing: 1.5px;
  font-size: 0.8rem;
}
.player__main-list li:hover::before,
.player__main-list li.active::before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #36e2ec;
  height: 2px;
  bottom: -2px;
  left: 0;
}
.player__search {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgb(184, 184, 184, 0.1);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding-inline: 10px;
  position: relative;
  border: 2px solid;
}
.player__search i,
.player__search input::placeholder {
  color: #36e2ec;
}
.player__search input {
  width: 300px;
  padding-block: 10px;
  text-indent: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
}
.player__search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 170px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: auto;
  margin-top: 5px;
}
.player__search-results::-webkit-scrollbar {
  display: none;
}
.player__search-results > div {
  background-color: rgb(184, 184, 184, 0.1);
  backdrop-filter: blur(15px);
}
.player__search-results > div img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.player__search-results > div .subtitle {
  font-size: 0.7rem;
  color: #36e2ec;
}
.player__main-content {
  width: 95%;
  margin: auto;
  padding-top: 20px;
}
.player__main-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
}
.player__main-content p {
  font-size: 0.8rem;
  color: #e9ebef;
  letter-spacing: 1.3px;
}
.player__btns {
  margin-top: 15px;
}
.player__btns button {
  width: 130px;
  padding-block: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 2px solid #36e2ec;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}
.player__btns button.active {
  background-color: #5adae0;
}
.player__btns button i {
  display: flex;
  justify-content: center;
  align-items: center;
}
.player__popular-songs,
.player__popular-artists {
  width: 95%;
  margin: 25px auto 0;
  position: relative;
}
.popular__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular__arrows i {
  color: #d3d9e9;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.popular__arrows i:hover {
  color: #fff;
  cursor: pointer;
}
.popular__posters {
  margin-top: 15px;
  display: flex;
  gap: 15px;
  overflow: auto;
  scroll-behavior: smooth;
  position: relative;
}
.coming-soon::before {
  content: "Coming Soon....";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}
.popular__posters::-webkit-scrollbar {
  display: none;
}
.popular__posters-item {
  min-width: 100px;
  cursor: pointer;
  text-align: center;
}
.img-play {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popular__posters img {
  max-width: 100%;
  padding: 1px;
  background-color: #fff;
}
.img-play i {
  position: absolute;
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.popular__posters-item:hover i {
  opacity: 1;
}
.popular__posters-item h5,
.popular__posters-item p {
  padding-left: 5px;
}
.popular__posters-item h5 {
  margin-top: 5px;
  font-size: 0.8rem;
}
.popular__posters-item p {
  font-size: 0.7rem;
  color: #d3d9e9;
}
.player__popular-artists {
  margin-top: 15px;
}
.popular__posters .artist-item {
  height: 60px;
  min-width: 60px;
  border-radius: 50%;
  overflow: hidden;
}
/* ============================== Style Master_Play ============================== */
.player__master-play {
  height: 10%;
  width: 100%;
  background-color: #111727;
  box-shadow: 0 3px 8px #090f1f;
  display: flex;
  align-items: center;
  padding-inline: 30px;
}
.player__master-play .wave {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: flex-end;
  gap: 4px;
}
.player__master-play .wave span {
  display: inline-block;
  background-color: #36e2ec;
  width: 4px;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  animation: upDown 0.5s linear infinite;
  -webkit-animation: upDown 0.5s linear infinite;
  animation-play-state: paused;
}
.player__master-play .wave span:first-child {
  height: 10px;
}
.player__master-play .wave span:nth-child(2) {
  height: 15px;
  animation-delay: 0.4s;
}
.player__master-play .wave span:last-child {
  height: 8px;
  animation-delay: 0.8s;
}
@keyframes upDown {
  0% {
    height: 10px;
  }
  50% {
    height: 15px;
  }
  100% {
    height: 10px;
  }
}
.player__master-play img {
  width: 35px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: 10px;
}
.player__master-play .current-info {
  color: #fff;
  text-transform: capitalize;
  margin-left: 15px;
  width: 115px;
  text-align: center;
}
.player__master-play .song-name {
  font-size: 0.75rem;
  letter-spacing: 2px;
}
.master-play__subtitle {
  font-size: 0.6rem;
  color: #4c5262;
}
.player__master-play .icons {
  margin-left: 30px;
  display: flex;
  gap: 10px;
}
.player__master-play .icons i,
.player__volume {
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}
.player__master-play .starting_time,
.player__master-play .Ending_time {
  min-width: 60px;
  text-align: center;
  font-size: 11px;
  color: #fff;
}
.player__bar {
  background: rgba(105, 105, 170, 0.1);
  cursor: pointer;
}
.player__progressBar {
  width: 0;
  height: 2px;
  background-color: #36e2ec;
  position: relative;
  transition: width 0.2s;
  -webkit-transition: width 0.2s;
  -moz-transition: width 0.2s;
  -ms-transition: width 0.2s;
  -o-transition: width 0.2s;
}
.player__progressBar::before {
  content: "";
  position: absolute;
  top: -3px;
  left: var(--moveFromLeft);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #36e2ec;
}
.volume-progressBar {
  width: 100%;
}
.volume-progressBar::before {
  left: 100%;
}
.player__song-bar {
  width: 50%;
}
.player__volume-bar {
  flex-grow: 1;
  margin-left: 10px;
}
.player__volume {
  margin-left: 10px;
}

/* ================================== Media Query ================================== */
@media (max-width: 1200px) {
  .player__volume-bar {
    flex-grow: 0;
    width: 50px;
  }
  .player__popular-artists,
  .player__master-play .wave {
    display: none;
  }
  .player__songs-box {
    height: 270px;
  }
  .player__main-nav {
    margin-top: 10px;
  }
  .player__songs-item span {
    width: 20px;
  }
}

@media (max-width: 900px) {
  .player {
    overflow-y: auto;
  }
  .player__side-menu,
  .player__main-menu {
    width: 100%;
  }
  .player__main-nav {
    flex-wrap: wrap;
    gap: 12px;
  }
  .player__search {
    max-width: 100%;
  }
}
